.bannerTopo {
  background-image: url("./bannertop.jpg");
  background-position: center;
  background-size: cover;
}
.containerNomeLogo {
  margin: 0 auto;
  max-width: 400px;
  color: var(--main-color);
  text-align: center;
}
.containerNomeLogo a {
  color: var(--main-color);
}
.containerNomeLogo img {
  width: 50px;
  margin: 0 10px;
  margin-right: 5px;
}
.nomePetShop {
  font-size: 3.75rem;
  margin: 0 0 5px 0;
  text-align: center;
}
.containerNomeLogo .sloganPetShop {
  font-size: 0.875rem;
  font-style: italic;
  margin: 0;
}
.containerTituloTopo {
  max-width: 780px;
  min-width: 300px;
  border-radius: 10px;
  padding: 40px;
  margin: 70px auto 0;
  background: #ffffffc4;
  box-shadow: 0 8px 32px #1f26875e;

  display: flex;
  flex-direction: column;
}
.tituloTopo {
  font-size: 2rem;
  color: var(--main-color);
  text-align: center;
  font-weight: 800;
  margin: 0 0 40px;
}





.linkFaleConosco {
  min-width: 200px;
  padding: 10px 25px;
  font-size: 1.25rem;
  background-color: var(--main-color);
  border-radius: 10px;
  margin: 0 auto;
  color: var(--white-color); 

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.linkFaleConosco:active{
  background-color: var(--secondary-color);
}
@media screen and (max-width: 360px) {
  .nomePetShop {
    font-size: 2rem;
    margin: 0 0 5px 0;
  }
  .containerNomeLogo img {
    width: 25px;
  }

}
@media screen and (max-width: 720px) {
  .tituloTopo {
    font-size: 6vw;

  }
}