:root {
  --main-color: #855726;
  --secondary-color: #110616;
  --white-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 5rem 5vw ;
  /* border: 5px solid red; */
}
.destaque {
  font-weight: 700;
  font-style: italic;
}
h3 {
  font-size: 2.25rem;
  color: var(--main-color);
  text-align: center;
  margin: 0 0 45px;
}
.padding{
  padding: 120px 80px;
}